	/* General Styles */

@font-face {
    font-family: 'Kalinga';
    src: url('Kalinga.ttf');
}

html{
   background-color: rgba(180,180,180,1);
}
* {
   box-sizing:border-box;
   -webkit-box-sizing:border-box;
   -moz-box-sizing:border-box;
   -webkit-font-smoothing:antialiased;
   -moz-font-smoothing:antialiased;
   -o-font-smoothing:antialiased;
   font-smoothing:antialiased;
   text-rendering:optimizeLegibility;
}
body {
   color: #1e497e;
   font-family: 'Kalinga', Arial, san-serif;
}

a {
   color: #ff3333;	
}
/* Contact Form Styles */
h1 {
   margin: 10px 0 0 0;
}
h4{
   margin: 0 0 20px 0;
}

table {
   width:100%;
   background: #FFFFFF;
   color: #1e497e;
   border: 2px solid #1e497e; 
   -moz-border-radius: 4px;  
   -webkit-border-radius: 4px;  
   border-radius: 4px;
   margin-bottom: 25px;  
   padding: 5px;  
}

th {
    background: #1e497e;
    color: #FFFFFF;
}

#main_div {
   background-color:rgba(255,255,255,1);
    border:2px solid #1e497e;
   padding: 10px 20px 30px 20px;
   max-width:100%;    
   margin: 5% 10%; 
   border-radius:7px;   
   -webkit-border-radius:7px;
   -moz-border-radius:7px;
overflow:hidden;
}

#forminputdiv {
   background-color:rgba(255,255,255,1);
    border:2px solid #1e497e;
   padding: 10px 20px 30px 20px;
   max-width:100%;      
   border-radius:7px;   
    margin: 2% 0%; 
   -webkit-border-radius:7px;
   -moz-border-radius:7px; 
}

#logo {
	float:right;
	width:156px;
	height:181px; 
	margin: 0% 2%;
}

#main_div input,   
#main_div select,   
#main_div textarea,   
#main_div label { 
   font-size: 15px;  
   margin-bottom: 2px;   
} 
#main_div input,   
#main_div select,   
#main_div textarea { 
   width:100%;
   background: #FFFFFF;
   color: #1e497e;
   border: 2px solid #1e497e; 
   -moz-border-radius: 4px;  
   -webkit-border-radius: 4px;  
   border-radius: 4px;
   margin-bottom: 25px;  
   padding: 5px;  
}  
#main_div input:focus,   
#main_div select:focus,   
#main_div textarea:focus {  
   background-color: #DDDDDD; 
}  
#main_div textarea {
   width:100%;
   height: 150px;
}
#main_div button[type="button"] {
   cursor:pointer;
   width:100%;
   border:2px solid #1e497e;
   background:#ffffff;  
   color:#1e497e;
   margin:0 0 5px;
   padding:10px;
   border-radius:5px;
   font-weight:bold;  
}
#main_div button[type="button"]:hover {
   -webkit-transition:background 0.3s ease-in-out;
   -moz-transition:background 0.3s ease-in-out;
   transition:background-color 0.3s ease-in-out;
   background: #DDDDDD;
}

#main_div button[type="button"]:disabled {
   color:#AAAAAA;    
   -webkit-transition:background 0.3s ease-in-out;
   -moz-transition:background 0.3s ease-in-out;
   transition:background-color 0.3s ease-in-out;
   border:2px solid #AAAAAA;
}

#main_div p {
   width:100%;
}


#main_div button[type="button"]:active {
   box-shadow:inset 0 1px 3px rgba(0,0,0,0.5);
}
input:required, textarea:required {  
   box-shadow: none;
   -moz-box-shadow: none;  
   -webkit-box-shadow: none;  
   -o-box-shadow: none;  
} 
#main_div .required {  
   font-weight:bold;  
   color: #1e497e;      
}

/* Hide success/failure message
   (especially since the php is missing) */
#noMetamask {
   color: #1e497e; 
   display:none;  
}

#status {
   color: #1e497e; 
   text-align: center;
   border-radius:7px;
   -webkit-border-radius:7px;
   -moz-border-radius:7px;
   background-color:rgba(210,210,210,1);
}

#newClaim {    
    position: fixed;
    right:    5%;
    bottom:   5%;        
}

#newClaim button[type="button"] {
    box-shadow: -1px 2px 5px 1px rgba(0, 0, 0, 0.7); 
}

.footer {
  text-align: center;
  max-width:100%;    
  margin: 20px 30%; 
   border-radius:7px;
   -webkit-border-radius:7px;
   -moz-border-radius:7px;
  /* Set the fixed height of the footer here */
  padding:5px;
  height: 50px;
  background-color:rgba(255,255,255,1);
}



/* Make form look nice on smaller screens */
@media only screen and (max-width: 580px) {
   #main_div{
      left: 2%;
      margin-right: 2%;
      width: 98%;
      margin-left: 0;
      padding-left: 3%;
      padding-right: 3%;
   }
}
